<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
</style>
<body class="w3-container w3-pale-blue">
<div class="w3-container w3-light-blue w3-center w3-allerta w3-padding-64">
  <h1 class="w3-jumbo w3-allerta">Hitch</h1>
  <p>This is a cadet Rideshare App</p>
</div>
<div class="w3-container w3-khaki">
  <h2>Cadet Info</h2>
</div>
    <form class="w3-container w3-margin-16" action="rideForm" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="w3-input w3-khaki w3-btn" type="submit" value="Submit" />
</form>
</body>
